*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.test-container{
  min-height:100vh;
  background:#f3f4f6;
}

.test-header{
  background:#2563eb;
  color:white;
  padding:20px 40px;

  display:flex;
  justify-content:space-between;
  align-items:center;
}

.header-right{
  display:flex;
  gap:16px;
  align-items:center;
}

.timer{
  background:white;
  color:black;
  padding:10px 16px;
  border-radius:12px;
}

.question-list-btn{
  background:white;
  color:#2563eb;
  border:none;
  padding:12px 18px;
  border-radius:12px;
  cursor:pointer;
}

.test-card{
  width:90%;
  max-width:1200px;
  margin:30px auto;
  background:white;
  padding:30px;
  border-radius:20px;
}

.question-box{
  margin-top:30px;
  min-height:400px;
}

.options{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  gap:20px;
}

.option{
  padding:16px;
  border:1px solid #d1d5db;
  border-radius:12px;
}

.navigation{
  display:flex;
  justify-content:space-between;
  margin-top:30px;
}

.navigation button{
  padding:14px 22px;
  border:none;
  border-radius:12px;
  cursor:pointer;
}

.flag-btn{
  background:#facc15;
}

.sidebar{
  position:fixed;
  top:0;
  right:-350px;
  width:350px;
  height:100%;
  background:white;
  box-shadow:-5px 0 20px rgba(0,0,0,.15);
  transition:.3s;
  z-index:1000;
}

.sidebar.open{
  right:0;
}

.sidebar-header{
  display:flex;
  justify-content:space-between;
  padding:20px;
  border-bottom:1px solid #ddd;
}

.question-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:12px;
  padding:20px;
}

.question-number{
  width:55px;
  height:55px;
  background:#e5e7eb;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:12px;
  cursor:pointer;
}

.question-number.answered{
  background:#2563eb;
  color:white;
}

.question-number.flagged{
  background:#facc15;
}

.overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.3);
  z-index:999;
}